<footer class="navbar navbar-fixed-bottom navbar-default" style="width:100%; position: absolute; bottom: 0px; left: 0px; right:0px; background:#000000">
	<div class="wrapper">
			<div class="container">
				<div class="row-fluid">
					<div class="span12 clearfix">
						<nav class="main-nav">			
							<a><%= link_to "FAQ", faq_path, :class=> "navFaq" %></a> 
							<a><%= link_to "PRESS", press_path, :class=> "navPress" %></a>
							<a><%= link_to "RECEIVED A BOX?", receivedabox_path, :class=> "navReceivedabox" %></a>
						</nav>	
					</div>
					<p style="text-align: center; font-size:12px"> OOLAA GIRL LLC &#169 2014</p>
				</div>
			</div>
		</div>
</footer>



<!--

	<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
	  <div class="container">
	    <nav class="main-nav">			
				<a><%= link_to "FAQ", faq_path, :class=> "navFaq" %></a> 
				<a><%= link_to "PRESS", press_path, :class=> "navPress" %></a>
				<a><%= link_to "RECEIVED A BOX?", receivedabox_path, :class=> "navReceivedabox" %></a>
		</nav>	
		<p id="copyright" style="horizontal-align: middle;"> OOLAA GIRL LLC &#169 2014 </p>
	  </div>
	</nav>
</footer>

-->

<!--
<footer class="footer">
	<div class="row-fluid">
		<div class="span12 clearfix">
			<nav class="main-nav clearfix span12">			
			<a><%= link_to "FAQ", faq_path, :class=> "navFaq" %></a> 
			<a><%= link_to "PRESS", press_path, :class=> "navPress" %></a>
			<a><%= link_to "RECEIVED A BOX?", receivedabox_path, :class=> "navReceivedabox" %></a>
			</nav>	
		</div>
    </div>
</footer> -->

<!--

<footer class="site-footer">
	<div class="wrapper" style="background:#000000">
		<div class="container">
			<div class="row-fluid">
				<div class="span7">
					<div class="span4 content-no-printable">
						<nav class="footer-block-nav">
							<a title="About" href="/static_pages/about">
								About
							</a>
							<a title="Contact" href="/static_pages/contact">
								Contact
							</a>
						</nav>
					</div>
					<div class="span4 content-no-printable">
						<nav class="footer-block-nav">
							<a title="FAQ" href="/static_pages/contact">
								FAQ
							</a>
							<a title="Press" href="#">
								Press
							</a>
						</nav>
					</div>
					<div class="span4 content-no-printable">
						<nav class="footer-block-nav">
							<a title="Received a Gift?" href="#">
								Received a Gift? 
							</a>
							<a title="Blog" href="#">
								Blog
							</a>
						</nav>
					</div>
					<div class="span12 footer-social">
						<a class="img-social-link facebook" href="http://facebook.com/oolaausa">
							Facebook
						</a>
						<a class="img-social-link twitter" href="http://twitter.com/oolaagirl">
							Twitter
						</a>




	<div class="wrapper" style="background:#000000"></div>
	<div class="wrapper content-no-printable" style="background:#000000">
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<nav class="footer-nav"></nav>
						<span class="dropdown"></span>
							<li><%= link_to "Link to FB", about_path %></li>
							<li><%= link_to "Link to Twitter", contact_path %></li>
						<span></span>
					</nav>
				</div>
			</div>
		</div>
	</div>
</footer>

-->